.d-flex{
  display: flex;
}
.margin-auto{
  margin: auto;
}

.container{
  margin: auto;
  padding: 10px 30px;
}
.flex-wrap{
  flex-wrap: wrap;
}

.list-item-container{
  width: 33.33%;
}

.text-center{
  text-align: center;
}

.justify-content-center{
  justify-content: center;
}

.product-img{
  width: 80%;
}
.product-img-pdp{
  width: 400px;
}